*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, sans-serif;
}

body{
	overflow-x: hidden;
	background-color: beige;
}

/* nav */

.menu {
	box-shadow: inset 0px -27px 40px -20px rgba(255, 255, 255, 0.75);
	background-color: rgb(114, 114, 114);
	padding: 15px;
	display: flex;
	justify-content: space-between;
}

.intro input[type=submit]{
	width: 140px;
	height: 40px;
	cursor: pointer;
	margin: 10px;
	font-size: 14px;
	background: rgb(92, 92, 92);
	color: white;
	border: 0;
	border-radius: 20px;
}

.intro input:hover {
	transform: scale(1.2);
	transition: 0.5s;
}

/* fade imgs do centro */

.slides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1600px;
  position: relative;
  margin: auto;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* icons */

.box-icon {
	display: flex;
	justify-content: space-around;
	padding: 50px;
}

.icon {
	width: 25px;
	height: 25px;
}

.content {
	display: flex;
	justify-content: center;
	padding: 40px;
}

.box-content {
	width: 300px;
	height: 150px;
	border-radius: 10px;
	box-shadow: 10px 10px 10px 5px rgb(200,200,200);
	background-color: white;
}

.box-content a {
	display: flex;
	justify-content: center;
}

/* oportunidade*/

.oportunidade {
	background-color: white;
	height: 300px;
}
.oportunidade h3 {
	padding-top: 80px;
	display: flex;
	justify-content: center;
	font-size: 25px;
	font-family: Tahoma;
	padding-bottom: 30px;
}

.oportunidade input[type=submit]{
	width: 140px;
	height: 40px;
	cursor: pointer;
	margin-top: 10px;
	font-size: 14px;
	background: tomato;
	color: white;
	border: 0;
	border-radius: 10px;
	
}

.oportunidade input:hover {
	transform: scale(1.2);
	transition: 0.5s;
}

div.cadastrar {
	text-align: center;
	padding-top: 20px;
}

/* biografia do professor */

.bio {
	background-color: white;
	display: flex;
	height: 300px;
}

.foto img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-sizing: content-box;
    padding: 60px;
}

.foto img:hover {
	transform: scale(1.2);
	transition: 0.5s;
}

.desc {
	padding-top: 100px;
}

.desc h4 {
	padding-bottom: 20px;
}

.desc p {
	padding-right: 100px;
}

/* rodapé */

.rodape {
	padding-top: 60px;
	padding-left: 40px;
	box-shadow: inset -20px 50px 50px -30px rgba(255, 255, 255, 0.75);
	background-color: rgb(114, 114, 114);
	display: flex;
}

.box-rodape {
	display: flex;
	flex-direction: column;
}

.sobre h4 {
	color: white;
}

.sobre p {
	padding-right: 400px;
	padding-top: 40px;
	color: white;
	font-size: 17px;
}

.dev {
	padding-top: 100px;
	color: white;
}

.dev a {
	text-decoration: none;
	color: beige;
	font-weight: bold;
}

.contato {
	padding-right: 40px;
	color: white;
	padding-bottom: 20px;
}

.contato h4 {
	padding-bottom: 20px;
}

.contato p {
	padding-top: 20px;
	padding-right: 40px;
	font-size: 14px;
}

/* pagina de login */

.box-login{
	box-shadow: 10px 10px 5px rgb(200,200,200);
	max-width: 600px;
	width: 95%;
	padding: 60px 2%;
	background: white;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	border-radius: 10px;
}

.box-login h2{
	text-align: center;
	font-size: 19px;
	text-transform: uppercase;
	font-weight: normal;
	margin:10px 0;
	color: black;
}

.box-login input[type=text],
.box-login input[type=password]
{
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	padding-left: 8px;
	margin-top:8px;
	border-radius: 10px;
}

.box-login input[type=submit]{
	width: 140px;
	height: 40px;
	cursor: pointer;
	margin-top: 10px;
	font-size: 14px;
	background: tomato;
	color: white;
	border: 0;
	border-radius: 10px;
}

div.logar {
	text-align: center;
	padding-top: 20px;
}

div.lembrete {
	text-align: center;
	padding: 40px;
	font-size: 16px;
}

#back {
	padding: 5px;
	text-decoration: none;
}

/* formulario de cadastro */

.box-cadastro{
	box-shadow: 10px 10px 5px rgb(200,200,200);
	max-width: 600px;
	width: 95%;
	padding: 60px 2%;
	background: white;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	border-radius: 10px;
}

.box-cadastro h2{
	text-align: center;
	font-size: 19px;
	text-transform: uppercase;
	font-weight: normal;
	margin:10px 0;
	color: black;
}

.box-cadastro input[type=text],
.box-cadastro input[type=password]
{
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	padding-left: 8px;
	margin-top:8px;
	border-radius: 10px;
}

.box-cadastro input[type=submit]{
	width: 140px;
	height: 40px;
	cursor: pointer;
	margin-top: 10px;
	font-size: 14px;
	background: tomato;
	color: white;
	border: 0;
	border-radius: 10px;
}

div.cadastrar {
	text-align: center;
	padding-top: 20px;
}

/* menu */

.home {
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

#sidebar {
    padding-top: 20px;
    position: absolute;
    width: 300px;
    height: 100%;
    background: tomato;
}

#sidebar ul li {
    padding: 20px 24px;
}

#sidebar a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    list-style: none;
}

/* end */

.end {
	background-color: rgb(43, 42, 42);
	text-align: center;
	padding: 20px;
	color: white;
}